* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  /* background: radial-gradient(rgba(211, 211, 211, 0.469), aliceblue); */
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: white !important;
  font-weight: bolder;
  text-decoration: none;
}

.toastMessage {
  height: 40px !important;
  width: 300px !important;
  display: block;
}

.landingContainer {
  display: grid;
  place-content: center;
  height: 400px;
}

.livePresentationContainer {
  width: 100%;
}
